.achievements {
    padding: 30px;
    border-radius: 1.5rem;
    background-color: var(--primary-15);
}

.achievements__list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.achievement {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 250px;
}

.achievement__value {
    font-size: var(--text-5xl);
    line-height: var(--line-height-base);
    font-weight: 400;
    color: var(--primary-100);
}

.achievement__unit {
    font-weight: 700;
    font-size: var(--text-base);
    color: var(--text-gray);
    line-height: var(--line-height-base);
    text-align: center;
}

@media screen and (max-width: 1310px) {
    .achievements__list {
        gap: var(--gap);
    }

    .achievement:last-child {
        display: none;
    }
}

@media screen and (max-width: 1054px) {
    .achievements__list {
        gap: var(--gap);
    }

    .achievement__value {
        font-size: var(--text-4xl);
    }

    .achievement__unit {
        font-size: var(--text-sm);
    }
}

@media screen and (max-width: 798px) {}

@media screen and (max-width: 670px) {

    .achievement {
        width: 100%;
        max-width: none;
    }

    .achievement:last-child {
        display: flex;
    }

    .achievement__unit {
        font-size: var(--text-base);
    }


