@media screen and (max-width: 1500px) {

    .card__list {
        gap: 15px;
    }

    .card__item {
        padding: 15px;
        border: 2px var(--color_2) solid;
    }

    .card__img {
        width: 30px;
        margin-bottom: 5px;
    }

    .card__name {
        font-size: 16px;
    }

    .card__descr {
        font-size: 12px;
    }

    .ac .ac-trigger{
        font-size: 26px;
    }

    .footer_nav_link{
        font-size: 18px;
    }
}

@media screen and (max-width: 1350px) {
    .main__text {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        padding: 12px 18px;
    }

    .section {
        margin-bottom: 50px;
    }

    .section__title {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .logo__btn {
        padding: 20px;
    }

    .nav__link {
        padding: 16px;
        font-size: 16px;
    }

    .h1__title {
        font-size: 30px;
    }

    .h1__descr {
        font-size: 16px;
    }

    .hello__descr {
        margin-bottom: 30px;
    }

    .hello__button {
        padding-right: 45px;
        background-size: auto;
    }

    .record__number {
        font-size: 40px;
    }

    .number__name {
        font-size: 16px;
    }

    .card-title__number{
        font-size: 40px;
    }

    .card-title__text{
        font-size: 16px;
    }

    .card-item__text{
        font-size: 14px;
    }

    .branch__button__name{
        font-size: 14px;
    }

    .study-program{
        gap: 25px;
    }

    .study-program__btn{
        margin-bottom: 0;
    }

    .content__title{
        max-width: 100%;
    }

    .content__item{
        font-size: 16px;
    }

    .additional__display{
        padding: 40px;
    }

    .teachers__name{
        font-size: 22px;
    }

    .info__item{
        font-size: 14px;
    }

    .file__download{
        font-size: 14px;
    }

    .feedback__item{
        font-size: 12px;
    }

    .achievment__number{
        font-size: 40px;
    }

    .ac .ac-trigger{
        font-size: 22px;
    }

    .ac .ac-panel .ac-text{
        font-size: 16px;
    }

    .footer_nav_link{
        font-size: 14px;
    }


}