.hello-screen {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: var(--gap);
    align-items: center;
    padding: 58px 80px;
    background: url('../source/img/banner_bg-1.svg') left bottom no-repeat,
                url("../source/img/banner_bg-2.svg") right bottom no-repeat,
                url("../source/img/banner_bg-3.svg") right top no-repeat;
    background-color: var(--primary-100);
    border-radius: var(--border-radius);
    margin-bottom: 50px;
}

.hello__title {
    margin-bottom: 22px;
}

.hello__descr {
    margin-bottom: 58px;
}

.hello__button {
    padding-right: 50px;
    background: var(--yellow) url("../source/img/nord_west_arrow.svg") no-repeat;
    background-position: 90% 50%;
}

.hello__photo {
    width: 100%;
    height: 100%;
    position: relative;
}

.hello__img {
    width: 100%;
    object-fit: cover;
}

.banner__dec{
    z-index: 6;
    position: absolute;
    border-radius: var(--border-radius);
    background: #FFF;
    box-shadow: 0 20px 30px 0 rgba(38, 39, 95, 0.05);
}

.banner__dec-1{
    padding: 10px;
    left: -14%;
    bottom: 5%;
}

.banner__dec-2{
    border-radius: 100px;
    left: 93%;
    bottom: 5%;
}

.banner__dec-3{
    left: 83%;
    bottom: 85%;
}

/* Баннер на странице учителей */

.teacher__banner {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 33px;
    align-items: center;
    padding: 58px 80px;
    background-color: var(--primary-100);
    background-image: url('../source/img/logo_and_sign_2.png');
    background-position: 90% 45%;
    border-radius: 50px;
    margin-bottom: 30px;
    overflow: hidden;
}

.teacher__banner__title {
    margin-bottom: 22px;
    font-size: 48px;
}

.teacher__banner__descr {
    font-size: 32px;
    font-weight: 400;
}

.teacher__banner__photo {
    width: 100%;
    height: 140%;
    position: relative;
    background: url('../source/img/logo_teacher_2.png') 0 no-repeat,
    url('../source/img/logo_teacher_3.png') 45% no-repeat,
    url('../source/img/logo_teacher_1.png') 100% no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1310px) {
    .teacher__banner__photo {
        height: 150%;
    }
    .teacher__banner__title {
        font-size: 38px;
    }

    .teacher__banner__descr {
        font-size: 28px;
    }
}

@media screen and (max-width: 1054px) {
    .teacher__banner {
        gap: 25px;
        padding: 45px 70px;
    }
    .teacher__banner__photo {
        width: 120%;
        height: 160%;
    }
    .teacher__banner__title {
        font-size: 32px;
    }

    .teacher__banner__descr {
        font-size: 22px;
    }
}

@media screen and (max-width: 798px) {
    .teacher__banner {
        gap: 15px;
        grid-template-columns: 3fr 6fr;
        padding: 40px 50px;
        margin-bottom: 20px;
    }
    .teacher__banner__photo {
        width: 130%;
        height: 170%;
    }
    .teacher__banner__title {
        font-size: 28px;
    }

    .teacher__banner__descr {
        font-size: 20px;
    }
}

@media screen and (max-width: 670px) {
    .teacher__banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 25px 30px;
        border-radius: 25px;
        background-position: 85% 40%;
    }
    .teacher__banner__photo {
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
        background-color: #B9ABFF;
        border-radius: 25px;
    }
    .teacher__banner__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .teacher__banner__descr {
        font-size: 16px;
    }
}



