.go-to-pop-up {
    padding: 60px;
    border: none;
    border-radius: 0;
    background-color: var(--primary-100);
    background-image: url('../source/img/go-to-pop-up__bg.png');
    background-repeat: no-repeat;
    background-position: 80% center;
    margin: 0 auto 100px;
}

.go-to-pop-up__title {
    font-size: var(--text-2xl);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 40px;
}

.go-to-pop-up__span {
    padding: 5px 10px;
    background-color: var(--yellow);
    border-radius: calc(var(--border-radius) / 2);
    color: var(--text-black);
}

/*----------- POP-UP  ----------*/

.pop-up {
    display: none;
    z-index: 500;
    max-width: 100%;
    background-color: #F9F9F9;
    border-radius: calc(var(--border-radius) / 2);
    box-shadow: 1px 1px 20px #333333;

    .pop-up__form{
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        padding: 60px 40px;
    }

    .pop-up__title{
        font-size: var(--text-2xl);
        font-style: normal;
        font-weight: 700;
        line-height: 129.5%;
    }

    .pop-up__form__decription{
        font-size: var(--text-base);
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
}

.pop-up__active{
    display: block;
}

.pop-up__closer{
    position: absolute;
    right: 10%;
    top: 7%;
}
