.contacts__section .contacts__content {
    display: none;
}

.contacts__section .contacts__content.show {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contacts__section .branch__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A B" "C B" "D B";
    column-gap: 30px;
    padding: 0;
}

.contacts__section .branch__card__photo {
    grid-area: B;
    background-color: rgb(203, 202, 202);
    border-radius: calc(var(--border-radius) / 2);
    min-height: 240px;
    overflow: hidden;
}

.contacts__section .branch__card__photo iframe {
    width: 100%;
    height: 100%;
}

.contacts__section .branch__card__title span {
    font-size: 40px;
    font-weight: 700;
}

.contacts__section .branch__card__title img {
    width: 54px;
}

.contacts__section .branch__card__category {
    font-weight: 700;
}

.contacts__section .branch__card__info {
    margin-top: 20px;
}

@media screen and (max-width: 1054px) {
    .contacts__section .branch__card__photo {
        min-height: 200px;
    }

    .contacts__section .branch__card__title span {
        font-size: 32px;
    }

    .contacts__section .branch__card__title img {
        width: 44px;
    }
}

@media screen and (max-width: 798px) {

    .contacts__section .branch__card__title span {
        font-size: 24px;
    }

    .contacts__section .branch__card__title img {
        width: 34px;
    }

    .contacts__section .branch__card__info {
        margin-top: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 670px) {
    .contacts__section .branch__card {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .contacts__section .branch__card__photo {
        min-height: 170px;
    }

    .contacts__section .branch__card__photo iframe {
        height: 170px;
    }

    .contacts__section .branch__card__info {
        margin-top: 0;
    }
}