.form__content {
    background-color: var(--primary-100);
    border-radius: calc(var(--border-radius) / 2);
    padding: 90px 60px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

.yallow__text {
    background-color: var(--yellow);
    border-radius: calc(var(--border-radius) / 2);
    padding: 2px 5px;
    color: var(--text-black);
    white-space: nowrap;
}

.form__subtitle {
    color: #FFF;
    font-size: var(--text-base);
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 50px;
}

.form__display {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: var(--gap);
}

.input {
    width: 100%;
    padding: 20px 30px;
    border-radius: calc(var(--border-radius) / 2);
    background-color: #fff;
    font-size: var(--text-base);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.6px;
    color: #808080;
}

.form__btn {
    display: flex;
    gap: var(--gap);
    width: 100%;
    background-color: var(--yellow);
}

.form__img {
    width: 100%;
    object-fit: cover;
}

#user__form__response {
    margin-top: 10px;
    color: #FFF;
}

@media screen and (max-width: 1350px) {
    .form__content {
        padding: 25px 35px;
    }

    .input{
        padding: 10px 15px;
    }
}

@media screen and (max-width: 700px) {
    .form__content{
        display: block;
    }
.form__photo{
    display: none;
}
}

