.header {
    width: 100%;
    margin-bottom: 50px;
}

.header__content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: var(--gap);
    padding: 15px 0;
}

.logo__btn {
    position: absolute;
    max-width: 280px;
    left: 0;
    object-fit: contain;
}

.header-content__tel {
    display: flex;
    align-items: center;
    gap: var(--gap);
    color: var(--text-black);
    font-size: 1rem;
}

.header-content__tel::before {
    line-height: 0;
    content: url("../source/img/tel.svg");
}

.header-content__location {
    display: flex;
    align-items: center;
    gap: var(--gap);
    color: var(--text-black);
    font-size: 1rem;
}

.header-content__location::before {
    line-height: 0;
    content: url("../source/img/geo.svg");
}

@media screen and (max-width: 1100px) {
    .header-content__location{
        display: none;
    }
}

@media screen and (max-width: 780px) {

    .header-content__tel{
        display: none;
    }
    
}