.nav {
    width: 100%;
    position: relative;
}

.bg__nowrap {
    position: absolute;
    background: rgba(185, 171, 255, 0.15);
    width: 140%;
    height: 100%;
    left: -30%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    padding: 24px;
    font-weight: 500;
}
