.parhneers__content {
    display: grid;
    grid-template-areas:     'A B B C C F F F F'
                             'D D D D D F F F F';
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.parhners__logos:nth-child(1) {
    grid-area: A;
}

.parhners__logos:nth-child(2) {
    grid-area: B;
}

.parhners__logos:nth-child(3) {
    grid-area: C;
}

.parhners__logos:nth-child(4) {
    grid-area: D;
}

.parhners__logos:last-child {
    grid-area: F;
}
