.files__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.file__download {
    color: var(--text-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}
