.study-program {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: var(--gap);
}

.study-program__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.study-program__title {
    font-size: var(--text-2xl);
    max-width: 700px;
}

.study-program__main-switcher {
    padding: 8px 12px;
    border-radius: calc(var(--border-radius) / 2);
    background-color: #fff;
}

.switch {
    border-radius: calc(var(--border-radius) / 2);
    padding: 18px 35px;
    background-color: transparent;
}

.switch__active {
    background-color: var(--yellow);
}

.study-program__main-content {
    display: grid;
    grid-template-areas: 'A C''B C';
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}

@media screen and (max-width: 1024px) {
    .study-program__main-content{
        grid-template-areas: 'A' 'C' 'B';
        grid-template-columns: 1fr;
    }

}

.buttons__area {
    height: 100%;
    grid-area: A;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    gap: var(--gap);
    flex-wrap: wrap;
}

.study-program__btn {
    background-color: #fff;
    border-radius: calc(var(--border-radius) / 2);
    font-size: var(--text-base);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10px;
}

.study-program__btn__active {
    color: var(--text-white);
    background-color: var(--orange);
}

.price__display {
    grid-area: B;
    width: 100%;
    border-radius: calc(var(--border-radius) / 2);
    background-color: var(--orange);
    padding: 45px;
    font-size: 32px;
    font-weight: 700;
    line-height: 129.5%;
    color: var(--text-white);
}

.content__display {
    grid-area: C;
    height: 100%;
    padding: 55px;
    background-color: #fff;
    border-radius: calc(var(--border-radius) / 2);
}

.content__title {
    max-width: 40%;
    font-size: var(--text-2xl);
    font-style: normal;
    font-weight: 500;
    line-height: 129.5%;
    margin-bottom: 45px;
}

.content__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.content__item {
    margin-left: 30px;
    list-style-type: disc;
}

.additional-content {
    width: 100%;
    position: relative;
}

.additional__display {
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-left: 50%;
    border-radius: calc(var(--border-radius) / 2);
    background: #fff url("../source/img/additional_display_bg.png") bottom left no-repeat;
    background-size: contain;

    .content__list {
        margin-bottom: 50px;
    }
}

.additional-content__btn {
    font-size: var(--text-base);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 700px){
    .study-program__main-switcher{
        display: flex;
    }
    .switch{
        padding: 10px 15px;
    }

    .content__display{
        padding: 25px;
    }

    .price__display{
        padding: 25px;
        font-size: var(--text-base);
    }

    .study-program__btn{
        padding: 10px;
    }

    .additional__display{
        padding: 25px;
        background-image: none;
    }
}

@media screen and (max-width: 450px) {

    .header__content{
        flex-direction: column-reverse;
    }

    .burger__btn{
        width: 90%;
    }
    
}