.teachers__section .teachers__content {
    display: none;
}

.teachers__section .teachers__content.show {
    display: flex;
}

.teachers__section .template__item {
    border: 3px solid #9A4EFF;
}

.teachers__section .template__item:hover {
    background-color: #9A4EFF;
    color: #FFF;
}

.teachers__section .template__item.active {
    background-color: #9A4EFF;
    color: #FFF;
}

.teachers__section .teachers__content {
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.teachers__section .teachers__card {
    width: 49%;
    margin-bottom: 25px;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    display: grid;
}

.teachers__section .teachers__photo {
    overflow: hidden;
}

.teachers__section .teachers__name {
    text-align: left;
}

.teachers__section .teachers__card .info__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.teachers__section .teachers__card .info__item {
    width: auto;
}

@media screen and (max-width: 1310px) {
    .teachers__section .teachers__card {
        margin-bottom: 20px;
    }
    .teachers__section .teachers__card .info__list {
        flex-direction: column;
        justify-content: flex-start;
    }
    .teachers__section .teachers__card .info__item {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 1054px) {
    .teachers__section .subject__list li {
        height: 54px;
        padding: 15px 25px 15px 25px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 2px solid #9A4EFF;
    }
    .teachers__section .teachers__card.show {
        display: block;
    }
    .teachers__section .teachers__card  .teachers__name {
        margin-top: 15px;
    }
    .teachers__section .teachers__card .info__list {
        margin-top: 15px;
    }
}

@media screen and (max-width: 798px) {
    .teachers__section .subject__list li {
        height: 50px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 20px;
    }
    .teachers__section .teachers__content {
        margin-top: 15px;
        flex-direction: column;
    }
    .teachers__section .teachers__card {
        width: 100%;
        gap: 15px;
    }
    .teachers__section .teachers__card.show {
        display: grid;
    }
    .teachers__section .teachers__card  .teachers__name {
        margin-top: 0;
    }
    .teachers__section .teachers__card .info__list {
        margin-top: 0;
    }
}

@media screen and (max-width: 670px) {
    .teachers__section .subject__list li {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .teachers__section .teachers__card.show {
        display: flex;
        flex-direction: column;
    }
}