.teachers__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teachers__swiper {
    margin: 0 auto;
    width: 100%;
    /*overflow: visible;*/
    position: relative;
    margin-bottom: 50px;
}

.teachers__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B''A C';
    gap: var(--gap);
    padding: 50px;
    background-color: var(--primary-100);
    border-radius: calc(var(--border-radius) / 2);
}

.teachers__photo {
    grid-area: A;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #B9ABFF;
    border-radius: calc(var(--border-radius) / 2);
}

.teachers__img {
    width: 100%;
    /*height: 100%;*/
    object-fit: contain;
}

.teachers__name {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    color: #FFF;
    font-size: var(--text-2xl);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 0 15px;
}

.info__list {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: start;
    gap: var(--gap);
}

.info__item {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--yellow);
    border-radius: calc(var(--border-radius) / 2);
}

.teachers__btn{
}

.swiper-button-next, .swiper-button-prev{
    color: black;
    padding: 40px;
    border-radius: 50%;
    background: #FDFDFD;
    box-shadow: 0 20px 30px 0 rgba(38, 39, 95, 0.05);
}

@media screen and (max-width: 1100px) {
    .teachers__card{
        padding: 15px;
    }
}

@media screen and (max-width: 700px) {

    .teachers__card{
        display: flex;
        flex-direction: column;
    }

}