.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main__setting {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: var(--text-base);
    line-height: normal;
    background-color: #fff;
    position: relative;
    overflow-x: clip;
    color: var(--text-black);
}

*:focus {
    outline: 3px black solid;
    outline-offset: 5px;
}

.purple__wrapper {
    width: 100%;
    padding: 100px;
    border-radius: var(--border-radius);
    background-color: var(--primary-100);
    margin: 0 auto 100px;
}

.section {
    margin-bottom: 4em;
    border-radius: 50px;
}

.section__title {
    font-size: var(--text-2xl);
    font-weight: 700;
    line-height: 130%;
    width: 100%;
    margin-bottom: 2em;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 1rem 1.25rem;
    border-radius: 50px;
    border: 3px transparent solid;
    gap: 10px;
}


.btn:focus {
    outline: 3px black solid;
    outline-offset: 5px;
}

button:focus {
    outline: 3px black solid;
    outline-offset: 5px;
}

.btn:hover {
    color: var(--text-white);
    background-color: var(--orange);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn--primary {
    background-color: var(--yellow);
}


.btn--secondary {
    background-color: transparent;
    border: 3px var(--primary-100) solid;
    color: var(--primary-100);
}

.btn--secondary:hover {
    background-color: var(--primary-100);
}

.h1__title {
    color: var(--text-white);
    font-size: var(--text-2xl);
    font-weight: 500;
}

.h1__descr {
    font-size: var(--text-base);
    font-weight: 500;
    color: var(--text-white);
}

.main__text {
    font-weight: 500;
    font-size: var(--text-xs);
}

.purple__text {
    color: var(--primary-100);
}


@media screen and (max-width: 1310px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }

    :root {
        --gap: 0.7em;
    }

    .section__title {
        margin-left: 25px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    --border-radius: 25px;

    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: var(--text-2xl);
    }


}

@media screen and (max-width: 767px) {
    .container {
        max-width: 640px;
        margin: 0 auto;
    }

    :root {
        gap: 0.5em;
    }
}

@media screen and (max-width: 639px) {
    .container {
        max-width: 320px;
        margin: 0 auto;
    }

    :root {
        gap: 1em;
    }
}